html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #76869b;
  color: #3c4858;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

.container {
  width: 100%;
  min-height: 650px;
  padding: 50px;
}

.sideBar {
  width: 30%;
  padding: 30px;
  background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(176,176,176,1) 100%);
  box-shadow: 0 1px 10px #b5b4b4;
  height: auto;
  border-radius: 5px;
  margin-left: -115px;
  border: 1px solid #b5b4b4;
}

.footer {
  background-color: #263342;
  width: 100%;
  height: 100px;
  color: white;
  padding: 70px;
  bottom: 0;
}

.navBar {
  width: 100%;
  height: 60px;
  background: #6da6db;
  background: -moz-linear-gradient(top, #6da6db 0%, #153f6b 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, #6da6db),
    color-stop(100%, #153f6b)
  );
  background: -webkit-linear-gradient(top, #6da6db 0%, #153f6b 100%);
  background: -o-linear-gradient(top, #6da6db 0%, #153f6b 100%);
  background: -ms-linear-gradient(top, #6da6db 0%, #153f6b 100%);
  background: linear-gradient(to bottom, #6da6db 0%, #153f6b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6da6db', endColorstr='#153f6b', GradientType=0 );
}

.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.one {
  background-image: url("../images/profile-pic1.jpg");
}

.two {
  background-image: url("../images/profile-pic1.jpg");
}

.three {
  background-image: url("../images/profile-pic1.jpg");
}

.header {
  background-color: #2487de;
  color: white;
  width: auto;
  height: 50px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin: -65px 15px 0;
  border-radius: 3px;
  padding: 15px;
  position: "relative";
}

.headerUser {
  background-color: #2487de;
  color: white;
  width: auto;
  height: 50px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 15px;
  position: "relative";
}

.miniCard {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: rgba(176,176,176,1);
  border-radius: 3px;
  padding: 15px;
  width: 250px;
  height: 350px;
}

.loginHeader {
  background-color: #2487de;
  color: white;
  width: 300px;
  height: 50px;
  box-shadow: 0 1px 10px #b5b4b4;
  margin: -65px 15px 0;
  border-radius: 3px;
  padding: 15px;
  position: "relative";
}

.loginBox {
  background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(176,176,176,1) 100%);
  color: black;
  border: 1px solid #b5b4b4;
  width: 450px;
  height: auto;
  padding: 50px;
  margin: auto;
  border-radius: 3px;
  box-shadow: 0 1px 10px #b5b4b4;
}

blockquote footer:before,
blockquote small:before {
  content: "\2014 \00A0";
}

small {
  font-size: 80%;
}

h1 {
  font-size: 3em;
  line-height: 1.15em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 1.825em;
  line-height: 1.4em;
  margin: 20px 0 10px;
}

h4 {
  font-size: 1.3em;
  line-height: 1.4em;
}

h5 {
  font-size: 1.25em;
  line-height: 1.4em;
  margin-bottom: 15px;
}

h6 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
}

body {
  background-color: #eeeeee;
  color: #3c4858;
}

blockquote p {
  font-style: italic;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

a {
  color: #9c27b0;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #89229b;
  text-decoration: none;
}

legend {
  border-bottom: 0;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: 0;
}

a:focus,
a:active,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner{
  outline: 0 !important;
}

legend {
  margin-bottom: 20px;
  font-size: 21px;
}

output {
  padding-top: 8px;
  font-size: 14px;
  line-height: 1.42857;
}

label {
  font-size: 14px;
  line-height: 1.42857;
  color: #153f6b;
  font-weight: 400;
}

footer ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  color: inherit;
  padding: 15px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
  display: block;
}

footer ul li a:hover {
  text-decoration: none;
}

@media (max-width: 991px) {
  body,
  html {
    position: relative;
    overflow-x: hidden;
  }

  #bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: auto;
    right: 260px;
    content: "";
    z-index: 9999;
    overflow-x: hidden;
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
